*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #F0F3F8 !important;
}
.primary-btn{
    background-color: #1254FF;
    border: none;
    padding: 17px 40px;
    border-radius: 6px;
    color:white
}

.primary-color{
    color:#1254FF;
}

.bold{
    font-weight: 700;
}

p{
    color:#293356;
}

button{
    font-size: 15px;
}

.bg-container{
    background-image: url("assets/Top-BG-Gradient.png") !important;
    background-repeat: no-repeat;
    background-size: cover;  
}

.nav{
    padding: 1em 4em;
   display: flex; 
   justify-content: space-around;
   border-bottom: 2px solid #D2D9E7;
   
}

section{
    padding: 0em;
}

.section-1{
    display:flex;
    flex-direction: column;
    align-items: center; 
    row-gap: 2rem;
    margin-top:5em
}

.section-1:nth-child(2){
    text-align: center;
}

h1{
    font-size: 40px;
}

/* Section 2 */

.section-2, .section-3, .section-4,footer{
    padding:70px 200px 70px 200px;
}

.heading{
   display: flex;
   flex-direction: column;
   row-gap:1rem
}

.banner-community{
    display:flex;
    background-color: #ffffff;
    border-radius: 10px;
    padding:1em;
    margin-top:2em;
    column-gap: 1em;
    box-shadow: 0px 5px #e9e9e9;
}

.badge{
    background-color: #ecf1ff;
    width:13em;
    padding:5px 21px;
    border-radius:10em;
    color:#1254FF
}

img{
    border-radius: .5em;
}

.banner-community_elements{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:3em 0em; 
}

.main-content{
    font-size: 26px;
    font-weight:600
}

/* Section 3 */

.section2-header{
    font-size:40px;
    font-weight:400;

}

.section-3{
    padding: 3em 200px
}

.fb-icon{
    font-size:36px
}

.carousel-control-prev-icon{
    margin-right:130px;
}


.carousel-control-next-icon{
    margin-left:130px
}

.card{
    padding:0em .3em
}

.faq{
    background-color: white !important;
    padding:2em;
    border-radius: 12px;
    box-shadow: 0px 5px rgb(239, 239, 239);
}

ul>a{
    text-decoration: none;
    color:#293356
}

li{
    padding:5px 0px;
    list-style-type: none;
}

.options{
    border-radius: 10px;
    border:2px solid;
    border-image:linear-gradient(90deg, rgba(18,84,255,1) 52%, rgba(0,212,255,0) 100%) 1;
    padding: 1em;
    
}

a>li{
    transition:1s cubic-bezier(0.075, 0.82, 0.165, 1)
}

a>li:hover{
    border:2px solid;
    border-image:linear-gradient(90deg, rgba(18,84,255,1) 52%, rgba(0,212,255,0) 100%) 1;
    padding:5px
}

.sub{
    font-size: 14px;
}

/* footer */
footer{
    background-image: url("assets/Footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-title{
    font-weight: 400;
    color:#1254FF
}


.footer-list{
    padding: 0px 0px 0px 0px;
}

.footer-nav{
    padding:3em 0em
}


a>.footer-:hover{
    border:0px solid;

}

.terms{
    padding:0px 0px 0px 1em
}

.terms:hover{
    border:0px solid;
    padding:0px 0px 0px 1em
}